{% extends 'base.html' %}
{% block title %}Article List{% endblock %}
{% block content %}
    <div class="row">
    {% for article in article_list %}
        <div class="col-md-6">
        <div class="card mt-4">
            <div class="card-header">
                {{ article.headline }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ article.author }}</h5>
                <p class="card-text">{{ article.created_at }}</p>
                <a href="{% url 'article_detail' article.pk %}" class="btn btn-primary">Read next</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}