{% extends 'base.html' %}
{% block title %}Article{% endblock %}

{% block content %}
    <div class="card text-center mt-4">
        <div class="card-header">
            {{ article.pk }}. Article
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ article.headline }}</h5>
            <p class="card-text">{{ article.text }}</p>
        </div>
        <div class="card-footer text-muted">
            {{ article.created_at }}
        </div>
    </div>
    <h3 class="mt-3">Ratings:</h3>
    <ul class="list-group mt-3">

        {% for rating in article.client_rating.all %}
            <li class="list-group-item">{{ rating.author }}: {{ rating.status }}</li>
        {% endfor %}
    </ul>
    <h3 class="mt-3">Comments:</h3>
    {% for comment in article.comments.all %}
        <div class="card mt-3">
            <div class="card-header">
                {{ comment.created_at }}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ comment.comment }}</p>
                    <footer class="blockquote-footer">Author: <cite title="Source Title">{{ comment.author }}</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    {% endfor %}
{% endblock %}